.create-publisher-institution {
  max-height: 78vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

.create-publisher-institution__container {
  width: 60%;
  margin: auto;
}

@media (max-width: 992px) {
  .create-publisher-institution__container {
    width: 80%;
  }
}

.create-publisher-institution form .form-control {
  border-radius: 5px;
  border: 1px solid #808080;
  opacity: 0.6;
  color: #313131;
  font-size: 18px;
  font-weight: 400;
  height: 30px;
  background-color: #ffffff;
  padding: 5px;
}

.create-publisher-institution form label {
  color: #313131;
  font-weight: 400;
}

.create-publisher-institution .box {
  border-radius: 5px;
  border: 1px solid #ebebeb;
  padding: 9px 32px 6px;
  position: relative;
  margin-bottom: 36px;
  min-height: 131px;
}

.create-publisher-institution form .form-group {
  margin-bottom: 24px;
}

.create-publisher-institution .form_btn {
  text-transform: 'capitalize';
}

.create-publisher-institution .form__btns {
  margin-bottom: 20px;
}

.create-publisher-institution .create-publisher__publisher-box .box {
  padding-bottom: 0;
  min-height: 160px;
}

.create-publisher-institution__publisher-box .form-control {
  margin-bottom: 15px;
  margin-top: 15px;
}

.create-publisher-institution .dropdown-wrp {
  z-index: 10;
  background-color: #fff;
}

.create-publisher-institution form .form-control.error::-ms-input-placeholder {
  color: red;
}

form .form-control.error::placeholder {
  color: red;
}