.library-delete-btn {
  color: #fff !important;
  border-radius: 3px;
  padding: 10px;
}

.library-page .dropdown-content {
  border: 0;
  margin-top: 10px;
  padding: 0;
}

.library-page .dropdown-content li {
  border: 0;
}

.library-page .dropdown-dynamic .triger span {
  font-size: 25px;
}

.remove-modal h2 {
  margin-bottom: 50px;
  padding-top: 0;
  margin-top: 0;
}

.remove-modal .close {
  cursor: pointer;
  position: absolute;
  right: 15px;
  top: 15px;
  text-decoration: none;
  font-size: 25px;
}
