footer
  position: relative
  border-bottom: 1px solid #000
  border-top: 1px solid #000
  overflow: hidden
  &:after
    content: ''
    position: absolute
    width: 1px
    height: 100%
    left: 0
    right: 0
    top: 0
    margin: auto
    display: block
    background: #000
  .container-fluid
    padding: 0
  .newsletter-box
    padding: 50px
    
    p
      margin-bottom: 25px
      margin-top: 0
    .newsletter-icon
      width: 20px
      height: 15px
      vertical-align: middle
      background-size: contain
      background-position: center
      background-repeat: no-repeat
      display: inline-block
      margin-right: .5em
    form
      position: relative
      border: 1px solid #000
      .email-newsletter
        padding: 20px
        font-size: 20px
        display: block
        width: 100%
        border: 0
        padding-right: 120px
        outline: none
      .submit-email-newsletter
        position: absolute
        top: 0
        right: 0
        width: 100px
        height: 100%
        border: 0
        border-left: 1px solid #000
        padding: 20px
        background: transparent
        span
          font-size: 12px
          text-transform: uppercase
          letter-spacing: 2px
          font-weight: 600
          
          
  .conntect-box
    padding: 50px
    a
      display: block
      margin-top: 1em
      color: #000
      text-decoration: none
      font-size: 20px
      
    
  .contact-link
    padding: 50px
    position: relative
    &:after
      content: ''
      position: absolute
      width: 1px
      height: 250px
      background: #000
      left: 0
      top: -100px
    
    a
      display: block
      margin-top: 1em
      color: #000
      text-decoration: none
      font-size: 20px
        
        
      
      
      


      
  