footer
  .container-fluid
    .row.bottom-xs
      .col-md-6.col-sm-6.col-xs-12.newsletter-box
        p 
          span.newsletter-icon(style="background-image: url(media/images/icon/newsletter.svg)")
          |Signup for newsletter:
        form(action="")
          input.email-newsletter(type="text" placeholder="Enter your e-mail")
          button.submit-email-newsletter 
            span submit
      .col-md-3.col-sm-3.col-xs-6.conntect-box
        a(href="")
          | Imprint
      .col-md-3.col-sm-3.col-xs-6.contact-link
        a(href="")
          | Contact







script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js")
script(src="js/lib/slick.min.js")
script(src="js/scripts.js")