doctype html
html(lang='en')
  head
  
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title musinote | product
    meta(name='description', content='')
    meta(name='keywords', content='')
    meta(name='author', content='')
    link(rel='shortcut icon', href='favicon.ico')
    link(rel='stylesheet', href='css/main.css')
    script.
      document.documentElement.className = 'js';
      
  body.loading
    include includes/header
    
    main
      
      section.catalog-nav
        .container-fluid
          .row.main-catalog-links
            .col-md-12
              ul.catalog-links-menu
                li.active
                  a(href="") 
                    |Noten für Instrumente
                  ul.drop
                    li.active
                      a(href="") Tasten
                    li
                      a(href="") Streicher
                    li
                      a(href="") Bläser
                    li
                      a(href="") Zupfinstrumente
                    li
                      a(href="") Schlaginstrumente
                    li
                      a(href="") Harmonika
                li
                  a(href="") 
                    | Orchester / Ensemble
                  ul.drop
                    li
                      a(href="") Orchester
                    li
                      a(href="") Bläser
                    li
                      a(href="") Kammermusik
                    li
                      a(href="") Band
                    li
                      a(href="") Zupfensembles
                    li
                      a(href="") Flexibles Ensemble
                li
                  a(href="") 
                    |Chor / Gesang
                  ul.drop
                    li
                      a(href="") Chor
                    li
                      a(href="") Gesang
                li
                  a(href="") 
                    |Musik unterrichten
                  ul.drop
                    li
                      a(href="") Kita & Elementare Musikerziehung
                    li
                      a(href="") Grundschule
                    li
                      a(href="") Sekundarstufen
                    li
                      a(href="") Geragogik / Senioren
                    li
                      a(href="") Studium
                    li
                      a(href="") Tasten
                    li
                      a(href="") Streicher
                    li
                      a(href="") Bläser
                    li
                      a(href="") Zupfinstrumente
                    li
                      a(href="") Schlaginstrumente
                    li
                      a(href="") Gesang
                li
                  a(href="") 
                    |Multimedia
                  ul.drop
                    li
                      a(href="") Bücher
                    li
                      a(href="") CDs, Multimedia
                    li
                      a(href="") Zubehör / Geschenke

      section.product-content
        .container-fluid
          .row
            .col-md-3.pic-box
              .pic(style="background-image: url(media/images/cover/10.jpg)")
              .preview-box
                a(href="") 
                  span.preview-icon(style="background-image: url(media/images/icon/preview.svg")
                  |Vorschau
            .col-md-6.product-main-info
              .top-row
                .title-box
                  h1 Venticinque movimenti
                  p Konzert für Violine und Orchester Nr. 3 in G-Dur KV 216 von W. A. Mozart
                ul.autor-or-compositor
                  li
                    span Komponist: 
                    a(href="") Papoulis, Jim
                  li
                    span Herausgeber: 
                    a(href="") Papoulis, Sophia
                ul.other-info
                  li
                    span Besetzung: 
                    | Chor (SSAA) und Klavier, Streichquartett ad lib.
                  li
                    span Ausgabe: 
                    | Chorpartitur, Partitur und Stimmen für optionales Streichquartett nur lieferbar als Download bei Hal Leonard (No. 48023936)
                  li
                    span Reihe: 
                    a(href="") Choral Music Experience
                  li
                    span Sprache: 
                    | englisch
                  li
                    span Ausgabe: 
                    | Einzelausgabe
                  li
                    span Bestell-Nr.: 
                    | BHI 48432

                .row.product-main-info-bottom
                  .col-md-6.price-box
                    h3.price 3,50 €
                    span Inkl. 7% USt.
                  .col-md-6.add-cart-box
                    a.add-to-cart(href="")
                      include includes/cart-icon
                    
              .tab-row
                ul#tab.jtab-ul
                  li.active
                    a(href='#' id='description') BESCHREIBUNG
                  li
                    a(href="#" id="details") DETAILS
                  li
                    a(href="#" id="downloads") DOWNLOADS
                  li
                    a(href="#" id="samples") HÖRBEISPIELE
                    
                .jtab-content-list
                  #tab_description.jtab-content
                    p Gabriel Koeppens bahnbrechendes Konzept Celloschule – Cello spielen mit Spaß und Fantasie gibt es nun auch in englischer Übersetzung! Das dreibändige Lehrwerk mit seinen ergänzenden Spielbüchern legt den Grundstein für eine solide technische und musikalische Ausbildung. 
                    p Die Spielbücher („Tune Books“) sind auf den methodischen Aufbau der Celloschule abgestimmt und bieten eine Fülle an schönen Stücken für verschiedene Besetzungen: 
                    p Werke vom Barock bis zur Romantik, von Vivaldi bis Schubert. Dazu kommen beliebte Lieder aus dem Volksgebrauch sowie Stücke im modernen Stil in frischen Arrangements, die den Schülern sicherlich viel Spaß machen werden. Die Hefte sind mit Klavierstimme und Playback-CDs ausgestattet – für noch mehr Motivation und Freude am Üben und Musizieren!
                    
                  #tab_details.jtab-content
                    ul
                      li
                        span Bindung:
                        | Rückendrahtheftung
                      li
                        span ISMN:
                        | 979-0-001-16733-8
                      li
                        span Schwierigkeit:
                        | 3
                      li
                        span Seitenzahl:
                        | 24
                      li
                        span Tonart:
                        | A-Dur
                      li
                        span UPC:
                        | 841886033405
                      li
                        span Verlag:
                        | Schott Music
                  #tab_downloads.jtab-content
                    p
                      a(href="") 
                        span.file-label .mp3
                        |Download file name
                    p
                      a(href="") 
                        span.file-label .pdf
                        |Lorem ipsum dolor sit amet, consectetur 
                    p
                      a(href="") 
                        span.file-label .mov
                        |Download file name
                        
                        
                  #tab_samples.jtab-content
                    p
                      .sound-file-mp3.sound-attachment-file Ibrahim, African Song
                      audio(controls='')
                        source(src='https://de.musici-shop.com/shop/media/freedownloads/0/34/30/343019/500_MAVE/HOERBSP/ED_22506_African_Song.mp3', type='audio/mpeg')
                        |                             Your browser does not support the audio element.
                    p
                      .sound-file-mp3.sound-attachment-file Koeppen, Jam Track 2: Swingin The Blues
                      audio(controls='')
                        source(src='https://de.musici-shop.com/shop/media/freedownloads/0/34/30/343019/500_MAVE/HOERBSP/ED_22506_Swingin_the_blues.mp3', type='audio/mpeg')
                        |                             Your browser does not support the audio element.
                    p
                      .sound-file-mp3.sound-attachment-file Saint-Saens, The Elephant
                      audio(controls='')
                        source(src='https://de.musici-shop.com/shop/media/freedownloads/0/34/30/343019/500_MAVE/HOERBSP/ED_22506_Saint_Saens.mp3', type='audio/mpeg')
                        |                             Your browser does not support the audio element.


                  
                  
                  
            .col-md-3.simular-product-box
              h4 SONSTIGE AUSGABEN:
              .simular-product
                .row
                  .col-xs-4.pic-box
                    .pic(style="background-image: url(media/images/cover/3.jpg)")
                  .col-xs-8
                    .top-row
                      h2 Lesson Book 2
                      a(href="") Papoulis, Jim
                    .row.bottom-row
                      .col-xs-6.price-box
                        p.price 14,95 €
                      .col-xs-6.add-cart-box
                        a.add-to-cart(href="")
                          include includes/cart-icon
              
              .simular-product
                .row
                  .col-xs-4.pic-box
                    .pic(style="background-image: url(media/images/cover/2.jpg)")
                  .col-xs-8
                    .top-row
                      h2 Lesson Book 2
                      a(href="") Papoulis, Jim
                    .row.bottom-row
                      .col-xs-6.price-box
                        p.price 14,95 €
                      .col-xs-6.add-cart-box
                        a.add-to-cart(href="")
                          include includes/cart-icon
                          
              .simular-product
                .row
                  .col-xs-4.pic-box
                    .pic(style="background-image: url(media/images/cover/1.jpg)")
                  .col-xs-8
                    .top-row
                      h2 Lesson Book 2
                      a(href="") Papoulis, Jim
                    .row.bottom-row
                      .col-xs-6.price-box
                        p.price 14,95 €
                      .col-xs-6.add-cart-box
                        a.add-to-cart(href="")
                          include includes/cart-icon
                          
              .simular-product
                .row
                  .col-xs-4.pic-box
                    .pic(style="background-image: url(media/images/cover/4.jpg)")
                  .col-xs-8
                    .top-row
                      h2 Lesson Book 2
                      a(href="") Papoulis, Jim
                    .row.bottom-row
                      .col-xs-6.price-box
                        p.price 14,95 €
                      .col-xs-6.add-cart-box
                        a.add-to-cart(href="")
                          include includes/cart-icon

            
            
            
            
            
            
    include includes/footer
    script.
      $(document).ready(function () {
        $("header").addClass('catalog-header');
      });
      